lib/python/1
lib/fortran/libgamma.so
lib/fortran/libne2001.so
lib/fortran/libsla.so
lib/fortran/libvxyz.so
lib/fortran/libykarea.so
lib/python/__pycache__/CHIME_props.cpython-36.pyc
lib/python/__pycache__/degradation.cpython-36.pyc
lib/python/__pycache__/dist_gen.cpython-36.pyc
lib/python/__pycache__/distributions.cpython-36.pyc
lib/python/__pycache__/distributions.cpython-38.pyc
lib/python/__pycache__/dosurvey.cpython-36.pyc
lib/python/__pycache__/dosurvey.cpython-38.pyc
lib/python/__pycache__/galacticops.cpython-36.pyc
lib/python/__pycache__/galacticops.cpython-38.pyc
lib/python/__pycache__/orbit.cpython-36.pyc
lib/python/__pycache__/orbit.cpython-38.pyc
lib/python/__pycache__/orbitalparams.cpython-36.pyc
lib/python/__pycache__/populate.cpython-36.pyc
lib/python/__pycache__/populate.cpython-38.pyc
lib/python/__pycache__/population.cpython-36.pyc
lib/python/__pycache__/population.cpython-38.pyc
lib/python/__pycache__/progressbar.cpython-36.pyc
lib/python/__pycache__/pulsar.cpython-36.pyc
lib/python/__pycache__/pulsar.cpython-38.pyc
lib/python/__pycache__/radiometer.cpython-36.pyc
lib/python/__pycache__/survey.cpython-36.pyc
*.f
*.o
*.so
*.csh
*.npy
*.npz
*.inc
*.inp
*.dat
*.pyc
lib/python/fortran/makefile
lib/python/fortran/makefile.darwin
lib/python/fortran/makefile.linux
lib/python/fortran/ykarea.c
lib/python/fortran/lookuptables/beam.list
lib/python/fortran/lookuptables/tsky.ascii
lib/python/fortran/lookuptables/lb.pksmb
lib/surveys/1
psrpoppy_sims_py3_pulsars/1
psrpoppy_sims_py3_pulsars/112_pop
psrpoppy_sims_py3_pulsars/log
psrpoppy_sims_py3_pulsars/logfg
